@media only screen (min-width: 1600px) and (max-width: 1920px) 
{
.item {
  width: 390px;
  height: 390px;
} 

@media only screen (min-width: 2000px) and (min-width: 2560px)
{
.item {
  width: 260px;
  height: 260px;
}

.logo {
  width: 150px;
  height: 100px;
}
.artworks {
  padding-left: 100px;
  padding-right: 100px;
}
}