@import url("responsive.css");

html, body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  min-height: 100vh;
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #b8b766;
}

a:active {
  color: #9d9d9d;
}
p {
  line-height: 5px;
  font-size: 13px;
  color: white;
}

h1 {
  padding: 30px;
}

h3 {
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #b8b766;
  font-size: 1.500em;
}

.portfolio {
  padding-top: 50px;
}

#container{
  z-index: 0;
  background: url("../img/background.jpg") repeat;
  background-size: 100%;
  margin: 0;
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.frame {
  content: '';
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 20px solid #e0e0e0;
}

.logo {
  left: 100px;
  z-index: 12;
  position: absolute;
  background: url("../img/logo.png");
  margin-top: 50px;
  margin-bottom: 50px;
  width: 150px;
  height: 100px;
}

.artworks {
  z-index: 30;
  margin-top: 170px;
  display: flex;
  flex-flow: row wrap;
  padding-left: 100px;
  padding-right: 100px;
}

.item {
  width: 260px;
  height: 260px;
  border: 1px black solid;
  background: #f1f1f1;
  flex: 1 0 calc(33,33% - 14px); 
  justify-content: center;
  margin: 20px;
  opacity: 1;
}

figure {
display: block;
-webkit-margin-before: 1px;
-webkit-margin-after: 1px;
-webkit-margin-start: 1px;
-webkit-margin-end: 1px;
}
figure img{
  width: 100%;
}

figure img:hover{
  opacity: 0.5;
  transition: ease 0.5s;
}

/* figure::hover {
  background: white;
  opacity: 50%;
}
*/

.menu {
  position: relative;
  z-index: 31;
  padding-top: 50px;
  padding-right: 80px;
  padding-left: 80px;
  border-left: 1px solid #333;
  text-align: right;
}

.navigation {
  font-size: 1.875em;
  line-height: 1.400em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.down-menu {
  margin-top: 200px;
}

.contact-menu h4, .social-media h4 {
  font-size: 1.875em;
  margin: 0px;
}

.social-media h4:hover {
  color: #b8b766;
}

.social-media h4 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.social-media {
  margin-bottom: 15px;
}

.copyright {
  font-size: 12px;
  color: #9d9d9d;
}

.navlink a:hover {
  color: #b8b766;
}

i {
  font-size: 1.875em;
  padding-right: 10px;
}