html, body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  min-height: 100vh;
  font-weight: 400;
}
a {
  text-decoration: none;
}
p {
  line-height: 5px;
  font-size: 13px;
  color: white;
}

h1 {
  padding: 30px;
}

.container{
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  min-height: 100vh;
  background: url("../img/background.jpg") repeat;
  background-size: 100vw;
}

.container::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 10px solid #333;
}

.logo {
  left: 100px;
  z-index: 10;
  position: absolute;
  background: url("../img/logo.png");
  margin-top: 50px;
  margin-bottom: 50px;
  width: 150px;
  height: 100px;
}

.artworks {
  display: flex;
  flex-flow: row wrap;
  padding-left: 100px;
  padding-right: 100px;
}

.item {
  width: 260px;
  height: 260px;
  border: 1px black solid;
  background: #f1f1f1;
  flex: 1 0 calc(33,33% - 14px); 
  justify-content: center;
  margin: 20px;
}

figure {
display: block;
-webkit-margin-before: 1px;
-webkit-margin-after: 1px;
-webkit-margin-start: 1px;
-webkit-margin-end: 1px;
}
figure img{
  width: 100%;
}

.menu {
  z-index: 11;
  padding: 50px;
  border-left: 1px solid #333;